filelist.txt
*.suo
*.user
*.sln.docstates
.vs/
*.TMP
*.cd
TestResults/
/memo
*.VC.db
!*.lib
!*.dll
/Debug/*
/Release/*
/Win32
/x64
/CadDataTypes/bin
/CadDataTypes/obj
/KCad/bin
/KCad/obj
/TCad/bin
/TCad/obj
/TestApp/bin
/TestApp/obj
/GeoLibWrapper/Win32
/GeoLibWrapper/x64
/GeoLibWrapper/bin
/GeoLibWrapper/obj
/DebugClient/DebugClient/bin
/DebugClient/DebugClient/obj
